.answer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.75rem;
	width: 100%;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    padding: 0.25rem;
    padding-left: 5%;
}

.answer:hover {
	background: rgba(153, 153, 153, 0.2);
	box-shadow: 10px 10px 20px rgba(122, 122, 122, 0.5);
}
.answer:hover h3, .answer:focus h3, .answer.selected h3{
	color: white;
}
.answer:focus {
	background: rgba(158, 158, 158, 0.3);
	box-shadow: 10px 10px 20px rgba(122, 122, 122, 0.5);
}

.answer.selected {
	background: rgba(158, 158, 158, 0.3);
	box-shadow: 10px 10px 20px rgba(122, 122, 122, 0.5);
}

.answer.selected.correct {
	outline: 3px solid rgba(66, 212, 132, 0.5)
}
.answer.selected.incorrect {
	outline: 3px solid rgba(212, 66, 66, 0.5);
}

.answer h3 {
	/* height: 100%; */
	margin-right: auto;
	align-self: center;
	justify-self: center;
	padding: 0.5rem;
	padding-left: 5%;
	text-align: left;
    width: 75%;
}

.answer img {
	height: 2rem;
	width: 2rem;
	animation: ShiftColor 1.5s ease forwards;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.answer img.correct {
	--destColor: invert(63%) sepia(90%) saturate(350%) hue-rotate(94deg)
		brightness(92%) contrast(86%);
}

.answer img.incorrect {
	--destColor: invert(37%) sepia(67%) saturate(1077%) hue-rotate(325deg)
		brightness(97%) contrast(77%);
}

@keyframes ShiftColor {
	0% {
		filter: invert(95%) sepia(100%) saturate(18%) hue-rotate(337deg)
			brightness(105%) contrast(106%);
	}
	100% {
		filter: var(--destColor);
	}
}

@media (min-width: 1000px) {
	.answer {
		text-align: center;
		height: auto;
		min-height: 100%;
		align-items: center;
		margin-bottom: 3rem;
		margin-left: 1.5rem;
		margin-right: 1rem;
        min-width: 40%;
        max-width: 40%;
        padding-left: 1rem;
        padding-right: 1rem;
	}
    .answer h3 {
        width: 70%;
    }
}
