@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Readex+Pro:wght@500&display=swap");

:root {
	/* dark shades of primary color*/
	--clr-primary-1: #c9c9c9;
	--clr-primary-2: #a3d1c3;
	--clr-primary-3: #75d9c6;
	--clr-primary-4: #46d9e3;
	/* primary/main color */
	--clr-primary-5: #2fcbfa;
	--clr-primary-6: rgb(235, 235, 235);
	--clr-primary-7: #5f53ff86;
	--clr-primary-8: #4585b960;
	--clr-primary-9: #bae4fccb;
	--clr-primary-10: #25ffba5e;
	--clr-primary-11: #c19dfa4b;
	/* headings and paragraphs */
	--clr-primary-12: #426696;
	--clr-primary-13: #658ec6;
	--clr-primary-14: #426696;
	--clr-primary-15: rgb(9 31 76 / 80%);
}

html * {
	font-family: "Poppins", sans-serif !important;
	font-weight: 500;
	font-size: 1.25rem;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: var(--clr-primary-12);
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.8;
}
h2 {
	color: var(--clr-primary-14);
  font-weight: 500;
  opacity: 0.8;
  font-size:1.25rem;
}
p {
  color: var(--clr-primary-14);
  font-weight: 500;
  opacity: 0.8;
  font-size:1rem;

}
h3 {
	color: var(--clr-primary-14);
	font-weight: 500;
	opacity: 0.8;
	font-size: 1.25rem;
  }

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

div .hero {
	min-height: 100vh;
	min-width: 100vw;
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: linear-gradient(
		to right top,
		var(--clr-primary-3),
		var(--clr-primary-4)
	);
}

div .container {
	min-width: 40%;
	max-width: 95%;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	/* visibility: hidden; */
	font-variant: normal;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
	transition: all 0.5s ease;
	width: 100%;
}

div .container.active {
	z-index: 2;
	min-height: 80vh;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
	min-width: 50%;
}

.circle1,
.circle2 {
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.2)
	);
	height: 15rem;
	width: 15rem;
	position: absolute;
	border-radius: 50%;
}

.circle1 {
	top: 4%;
	right: 10%;
}
.circle2 {
	bottom: 7%;
	left: 5%;
}

button {
	border: none;
	padding: 1rem;
	border-radius: 1.5rem;
}

.startbtns {
	padding: 1.5rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	visibility: hidden;
	z-index: 3;
}

.startbtns.active {
	visibility: visible;
	/* transition: visibility 1s ease; */
}

.startbtn {
	overflow: hidden;
	background: transparent;
	max-height: 30%;
	margin: 1rem 0 1rem 0;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	min-width:90%;
	max-width: 90%;
    align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	white-space: nowrap;
	letter-spacing: 0.05rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	position: relative;
}

.startbtn::after {
	content: "";
	width: 100%;
	padding-top: 100%;
	position: absolute;
	background-color: var(--clr-primary-1);
	background: linear-gradient(
		225deg,
		var(--clr-primary-7) 0%,
		var(--clr-primary-10) 100%
	);
	z-index: -1;
	transition: transform 0.5s ease;
}
.startbtn:hover {
	transform: translate(0, -0.25rem);
	box-shadow: 0.5rem -0.5rem 0.5rem 0 var(--clr-primary-8),
		-0.5rem 0.5rem 0.5rem 0 var(--clr-primary-8);
}
.startbtn:hover::after {
	transform: rotate(150deg);
}
.startbtn h2 {
	font-weight: normal;
	margin-right: auto;
	color: white;
	opacity: 1;
	padding-left: 1rem;
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

.startbtn img {
	height: 3rem;
	width: 3rem;
	margin: 0 1rem 0 1rem;
	padding: 0.5rem;
	transform: rotate(0);
	filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(144deg)
		brightness(100%) contrast(101%);
	transition: transform 0.5s ease;
}

.startbtn:hover img {
	transform: rotate(360deg);
}

.endbtns {
	
}


/* for larger than mobile */
@media (min-width: 1000px) {
	.startbtns {
		flex-direction: row;	
		flex: 1;
		min-width: 60%;
		max-width:none;
		margin: 1rem 1rem 1rem 1rem;
	}

	.startbtn {
		flex: 1;
		min-width: 0;
		padding: 1rem;
	}

	.startbtn h2{
		/* padding: 1rem; */
	}

	div .container {
		min-width: 40%;
		max-width: 70%;
		flex: 1;
	}

}
