.progress-bar {
    position: relative;
	width: 100%;
	height: 1rem;
	border-radius: 1rem;
    background: var(--clr-primary-6);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
}

.filler {
    background: linear-gradient(
		to right top,
		var(--clr-primary-10) 0%,
		var(--clr-primary-4) 100%
	);
    height: 100%;
    border-radius: inherit;
    transition: width 0.5s ease-in;
}