.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 1rem 1rem 1rem;
    /* to center the container */
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 0.5rem;
	width: 100%;
}

.question {
    font-size: 1.25rem;
	justify-self: center;
	align-self: center;
    padding-left: 1rem;
	padding-right: 1rem;
	color:var(--clr-primary-15);
	font-size: 1.25rem;
	font-weight: 600;
}

.answers {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 90%;
	max-width: 90%;
    margin-top: 0.5rem;
}




@media (min-width: 1000px) {
	.answers {
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 2rem;
		
	}

	
}
