.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 1rem 1rem 1rem;
	/* to center the container */
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 0.5rem;
	width: 100%;
}

.question {
	justify-self: center;
	align-self: center;
	color: var(--clr-primary-15);
	font-weight: 600;
	font-size: 1.5rem;
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: start;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.answers {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 90%;
	max-width: 90%;
	margin-top: 0.5rem;
}

@media (min-width: 1000px) {
	.answers {
		align-items: stretch;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 2rem;
	}

	.question {
		font-size: 1.5rem;
	}
}
