.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 1rem 1rem 1rem;
    /* margin-top: 40% */
}

.question {
    font-size: 1.25rem;
	justify-self: center;
	align-self: center;
    padding-left: 1rem;
}

.answers {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
    margin-top: 0.5rem;
}

button.answer {
	padding: 0.5rem 1rem 0.5rem 1rem;
	/* width: 100%; */
	text-align: center;
	width: 80%;
	max-width: 70%;
	margin: 1rem;
	/* color: #426696; */
	/* background-color: ; */
	line-height: 1.5;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
}

button.answer p {
	color: #426696;
	background-color: red;
	/* line-height: 1.5; */
}

@media (min-width: 1000px) {
	.answers {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	button.answer {
		padding: 0.5rem 1rem 0.5rem 1rem;
		text-align: center;
		max-width: 30%;
	}
}
