/* @import "./App.module.css"; */

:root {
	--clr-primary-1: #c9c9c9;
	--clr-primary-2: #a3d1c3;
	--clr-primary-3: #75d9c6;
	--clr-primary-4: #46d9e3;
	/* primary/main color */
	--clr-primary-5: #2fcbfa;
	--clr-primary-6: rgb(235, 235, 235);
	--clr-primary-7: #5f53ff86;
	--clr-primary-8: #4585b960;
	--clr-primary-9: #bae4fccb;
	--clr-primary-10: #25ffba5e;
	--clr-primary-11: #c19dfa4b;
	/* headings and paragraphs */
	--clr-primary-12: #426696;
	--clr-primary-13: #658ec6;
	--clr-primary-14: #426696;
}

.quiz {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.status-bar {
	display: flex;
	/* position: absolute; */
	/* top: 0; */
	margin-top: 0;
	border-radius: 2rem;
	align-self: flex-start;
	justify-self: flex-start;
	/* flex: 0; */
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	width: 100%;
	height: 15%;
	padding: 0.5rem;
}

.status-bar div {
	width: 90%;
	text-align: center;
}

button.next {
	overflow: hidden;
	min-width: 20%;
	align-self: center;
	max-height: 30%;
	margin-top: 0.5rem;
	margin-bottom: 5%;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
	white-space: nowrap;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	color: white;
	border-radius: 1.5rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
	/* transition: all 0.3s ease; */
	transition: transform 0.5s ease, box-shadow 0.5s ease;
	position: relative;
	background: transparent;
	visibility: hidden;
}
button.next.active {
	visibility: visible;
}

button.next::after {
	content: "";
	width: 100%;
	padding-top: 100%;
	/* margin: 1rem 1rem 1rem 1rem; */
	/* padding: 0.25rem 0.25rem 0.25rem 0.25rem; */
	position: absolute;
	background-color: var(--clr-primary-1);
	background: linear-gradient(
		225deg,
		var(--clr-primary-7) 0%,
		var(--clr-primary-10) 100%
	);
	z-index: -1;
	transition: transform 0.5s ease;
}
.next:hover {
	transform: translate(0, -0.25rem);
	box-shadow: 6px 6px 20px var(--clr-primary-8),
	-6px -6px 20px 0 var(--clr-primary-8);
}
.next:hover::after {
	transform: rotate(180deg);
}
.next img {
	height: 3rem;
	width: 3rem;
	margin: 0 1rem 0 1rem;
	padding: 0.5rem;
	transform: rotate(0);
	filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(144deg)
		brightness(100%) contrast(101%);
	/* filter: invert(29%) sepia(41%) saturate(401%) hue-rotate(133deg) */
	/* brightness(99%) contrast(84%); */
	transition: transform 0.5s ease;
}

.next h2 {
	font-size: large;
	font-weight: normal;
	margin-left: 1rem;
	margin-right: auto;
	color: white;
  font-weight: 600;
  opacity: 1;
}

.next:hover img {
	transform: rotate(360deg);
}

/* For the spinner */
.loadbar {
	width: 4rem;
	height: 4rem;
	margin-top: auto;
	margin-bottom: auto;
	background: linear-gradient(
		225deg,
		/* var(--clr-primary-8) 50%, */ var(--clr-primary-7) 0%,
		var(--clr-primary-10) 100%
	);
	align-self: center;
	justify-self: center;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@media (min-width: 1000px) {
	button.next {
		align-self: flex-end;
		margin-right: 10%;
		max-height: 30%;
	}
	.status-bar {
		flex-direction: row;
		justify-content: space-around;
	}
}

@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
